<% include partials/header %>

<div class="container extra-m">
    <div class="form-group  ">
        <form class="row justify-content-center text-center" action="/results" method="GET">
            <input class="form-control col-8  d-inline mr-2" name="searchTitle" type="text" placeholder="Type a movie title">
            <input class="col-2  btn btn-info" type="submit" value="Search" />
        </form>
    </div>
</div>

<% include partials/footer %>
